# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.rc text
*.dlg text
*.txt text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.vcxproj eol=crlf
*.vcxproj.filters eol=crlf

# Declare files that will always have LF line endings on checkout.
*.md eol=lf
.gitignore eol=lf
.gitattributes eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.bmp binary
*.wav binary
*.ico binary
*.emf binary

